.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/private/
content/thoughts/daily/
content/thoughts/cost-analysis/
**/private/
